.container {
  @extend %container;

  &.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bg-color;
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      height: 60px;
      padding-top: 10px;
    }

    @media screen and (min-width: $tablet) {
      position: static;
      height: 80px;
      padding-top: 21px;
      padding-bottom: 21px;
      text-align: center;
    }
  }

  &.for-footer {
    padding: 60px 15px;

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }

    @media screen and (min-width: $tablet) {
      width: $tablet;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }

    @media screen and (min-width: $desktop) {
      width: $desktop;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}
