footer {
  background: #2f303a;
}

.container-address {
  text-align: center;
  min-width: 69px;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}

.address-box {
  margin-top: 20px;
}

.address-links {
  font-style: normal;
  line-height: 1.71;
  list-style-type: none;
  text-decoration: none;
  text-align: center;

  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;

  @media screen and (min-width: $desktop) {
    text-align: start;
  }

  & .link {
    text-decoration: none;
    color: $footer-contacts-color;
  }
}

.address-item:not(:first-child) {
  margin-top: 8px;
}

.address {
  text-decoration: none;
  color: $bg-color;
}

.container-social {
  min-width: 206px;
  margin-top: 60px;

  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.container-form {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    margin-right: 0;
    margin-left: 0;
    min-width: 570px;
    padding-top: 0;
  }
}

.footer-text {
  display: block;
  font-weight: $font-weight-bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $bg-color;

  @media screen and(min-width: $desktop) {
    text-align: left;
  }
}

.footer-form {
  margin-top: 20px;
  text-align: center;

  @media screen and(min-width: $tablet) {
    text-align: center;
  }

  @media screen and(min-width: $desktop) {
    text-align: start;
  }
}

.footer-form-input {
  height: 50px;
  font-size: $font-size-subtitle;
  line-height: 1.25;
  padding: 15px 16px;
  background-color: transparent;
  color: $footer-contacts-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @media screen and(max-width: $tablet) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  @media screen and(min-width: $mobile) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: $tablet) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }

  @media screen and(min-width: $desktop) {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 358px;
  }
}
