.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team-section {
    background: $team-bg-color;
  }

  &.our-work {
    display: none;

    @media screen and (min-width: $desktop) {
      display: block;
    }
  }
}

.section-title {
  font-weight: 700;
  font-size: $font-size-title;
  line-height: 1.16;
  text-align: center;
  color: $links-color;
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle {
  font-weight: $font-weight-bold;
  font-size: $font-size-main;
  line-height: 1.14;
  text-transform: uppercase;
  color: $links-color;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.features {
  color: $font-color;
  margin-top: 10px;
  margin-bottom: 0;
}

.section-subtitle.work {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $bg-color;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle.team {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-subtitle;
  line-height: 1.18;
  text-align: center;
  text-transform: none;
  color: $links-color;
}

.section-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  & .item {
    width: 450px;
    text-align: start;
    display: block;
    margin: 15px;

    @media screen and (min-width: $tablet) {
      width: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 8 * 15px) / 4);
    }
  }

  & .work-item {
    position: relative;
    width: 370px;
    text-align: start;
    display: block;
    @media screen and (min-width: $desktop) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }

  & .link {
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
}

.works .section-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin: -15px;
  margin-top: 50px;
}

.team .section-list {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 50px;
  }
}

.clients .section-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: -15px;
  margin-top: 30px;
  margin-bottom: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 50px;
  }
}

.work-img {
  display: block;
}

.for-clients .item {
  display: block;
  margin: 15px;
  width: calc((100% - 4 * 15px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 6 * 15px) / 3);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.for-clients .link {
  color: $social-links-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: $mobile) {
    width: 210px;
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}

.clients-icon {
  fill: currentColor;
}

.mate {
  list-style: none;
  display: inline-flex;
  padding-left: 0;
  margin-top: 16px;
  justify-content: center;
  min-width: 206px;
  height: 44px;

  & .mate-item:not(:first-child) {
    margin-left: 10px;
  }
}

.teams.item {
  width: 450px;
  display: block;
  padding-bottom: 24px;
  text-align: center;
  background-color: $bg-color;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 12 * 15px) / 4);
  }
}

.mate-item {
  min-width: 44px;
}

.position {
  font-size: $font-size-subtitle;
  line-height: 1.18;
  text-align: center;
  color: $font-color;
  margin-top: 10px;
  margin-bottom: 0;
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-container {
  display: block;
  width: 450px;
  height: 120px;
  padding: 25px 190px;
  background: $team-bg-color;
  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    width: 354px;
    padding: 25px 142px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
    padding: 25px 100px;
  }
}

.subtitle-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
