$accent-color: #2196f3;
$bg-color: #ffffff;
$font-color: #757575;
$links-color: #212121;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$team-bg-color: #f5f4fa;
$social-links-color: #afb1b8;

$font-family-roboto: Roboto, sans-serif;
$font-family-raleway: Raleway, sans-serif;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;
$font-size-small: 12px;
$font-size-main: 14px;
$font-size-subtitle: 16px;
$font-size-description: 18px;
$font-size-modal-title: 20px;
$font-size-logo-mobile: 24px;
$font-size-logo: 26px;
$font-size-title: 36px;
$font-size-hero: 44px;
